<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocalizador Movil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <strong>Ingrese debajo el Codigo del GPS</strong>

    <ion-input id="codigo" [(ngModel)]="codigo_gps" placeholder="Ejm: gps001"></ion-input><br>

    <div>
      <ion-button (click)="getGeolocation()">Obtener Coordenadas</ion-button>
    </div><br>

    <div>
      <ion-button (click)="emitirCoordenadas()">Enviar coordenadas</ion-button>
    </div><br>
        
    <div>
      {{codigo_gps}}<br><br>
      Coordenadas obtenidas <br><br>
      Latitud: {{latitud}} <br>
      Longitud: {{longitud}}
    </div><br>

    <div id="mensaje-envio">
    </div><br>

    <div id="error-ocurrido">
    </div>

  </div>
</ion-content>
