<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocalizador Movil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <strong>Ingrese el Codigo del GPS</strong>

    <ion-input [(ngModel)]="codigo_gps"></ion-input>

    <div>
      <ion-button (click)="getGeolocation()">Obtener Coordenadas</ion-button>
    </div><br>
    
    <div id="codigo-gps">
    </div><br>
        
    <div>
      Coordenadas obtenidas <br><br>
      Latitud: {{latitud}} <br>
      Longitud: {{longitud}}
    </div>

  </div>
</ion-content>
